*{
    padding: 0;
    margin: 0;
}

.card-categorie{
    width: 100%;
    height: 100%;
    background-color: gray;
    background-image: url('/images/b-1.jpg');

}
@font-face {
    font-family: "Cairo";
  /*  src: url("/public/assets/fonts/Cairo-VariableFont_slnt,wght.ttf");
   */ 
   src: url("/Bootstrap-Ecommerce-Store-Template/fonts/Cairo-VariableFont_slnt,wght.ttf");
}
body{
    font-family: "Cairo"!important;
}
